* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: arial, helvetica, sans-serif;
}

body {
    background-image: linear-gradient(80deg, #E08AEB, #D472B8, #AE72D4, #AB85F6);
}

.menu {
    display: flex;
    list-style: none;
    padding: 1.25em;
    gap: 30px;
    background-color: white;
    color: grey;
}

.logo {
    flex-grow: 1;
}