@use 'functions' as conversor;
@use 'responsividade' as adapt;

main {
display: flex;
gap: 1.25em;
height: 900px;
    .seção {
        display: flex; 
        align-items: center;
        justify-content: space-around;
        z-index: 1;
        margin: 0 5%;
        height: 100%;
        .form {
            margin: 5%;
            display: flex;
            padding: 2.50em;
            max-width: 600px; 
            border-radius: 1.25em;
            flex-direction: column;
            background-color: #fff;
            .user {
                gap: 0.60em;
                display: flex;
                flex-direction: column;
                #nome,#email {
                    border: none;
                    height: conversor.conversor(40px, 16px);
                    outline: none;
                    appearance: none;
                    border-radius: conversor.conversor(5px, 16px);
                    background: rgb(219, 219, 219);
                }
            }
            .sobre {
                display: flex;
                flex-direction: column;
                #sobre {
                    border: none;
                    border-radius: 20px;
                    background: rgb(219, 219, 219);
                }
                #other {
                    margin: 4% 0%;
                }
            }
            .termo {
                margin: 4% 2%;
                font-style: italic;
                #checked {
                    accent-color: purple;
                }
                a {
                    color: blue;
                    text-decoration: none;
                }
                
                a:visited {
                    color: green;
                }
            }
            .titulo-2 {
                font-size: 2em;
                margin: 3%;
            }
            .submit {
                display: flex;
                justify-content: center;
                align-items: center;
                #button {
                    display: flex;
                    align-items: center;
                    padding: 2em 6em;
                    height: 3em;
                    border: none;
                    color: white;
                    font-size: 1.25em;
                    font-weight: 500;
                    text-shadow: 1px 1px 1px black;
                    border-radius: 1.25em;
                    cursor: pointer;
                    background: linear-gradient(150deg, rgb(245, 100, 240) 7%, rgb(214, 3, 200) 30%, rgb(195, 56, 223) 77%);
                    &:active {
                        position: relative;
                        top: 2px;
                    }
                }
            }
        }
    }
    textarea,
    input {
        padding: 3.5%;
        outline: none;
    }
    label {
        padding: 0% 1%
    }
    input::placeholder {
        padding-left: 20px;
        color: rgb(88, 88, 88);
    }
    .info {
        height: 100%;
        background-color: rgba(192, 249, 255, 0.728);
        .info-conteudo {
            top: 100px;
            height: 70%;
            display: flex;
            color: white;
            position: relative;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            .titulo-1 {
                font-size: 5em;
            }
            .texto {
                width: 60%;
                font-size: 2em;
            }
        }
    }
    @include adapt.responsive(large){
        @at-root main .info .info-conteudo .titulo-1 {
            font-size: 3.5em;
        }
        @at-root main .info .info-conteudo .texto {
            font-size: 1.5em;
        }
        @at-root main .seção .form .titulo-2 {
            font-size: 1.5em;
        }
    }
    @include adapt.responsive(big){
        flex-direction: column;
        height: fit-content;
        .info {
            order: -1;
            padding: 3em;
            .info-conteudo {
                height: fit-content;
                top: 0;
            }
        }
    }
    @include adapt.responsive(medium){
        .seção {
            .form {
                width: 350px;
                .titulo-2 {
                    text-align: center;
                    font-size: 1.3em;
                    margin: 2%;
                }
            }
        }
        @at-root main .seção .form .user #nome, #email {
            width: 275px;
            height: 2em;
        }
        @at-root main .seção .form .sobre #sobre {
            width: 270px;
        }
        @at-root main .seção .form .submit #button {
            padding: 2em 4em;
        }
        @at-root main .info .info-conteudo .texto {
            width: 80%;
            font-size: 1.3em;
        }
        label {
            font-size: 0.8em;
        }
    }
}