@use 'functions' as converter;

.menu {
    gap: converter.conversor(30px, 16px);
    color: grey;
    display: flex;
    padding: converter.conversorPorcentagem(30px, 1370px);
    list-style: none;
    background-color: white;
    .logo {
        flex-grow: 1;
    }
    .item {
        &:hover {
        transform: scale(1.2);
    }
    }
}


