@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Arimo&display=swap");
#menu {
  position: relative;
  gap: 1.875em;
  padding: 1.4598540146%;
  display: flex;
  justify-content: space-between;
  background-color: white;
  align-items: center;
}
#menu #logo {
  font-size: 2em;
}
#menu #list_menu {
  list-style: none;
  display: flex;
  color: grey;
  gap: 2.5em;
}
#menu #list_menu .item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#menu #list_menu .item:hover {
  transform: scale(1.2);
}
.item .svg_header {
  width: 1.5625em;
  height: 1.5625em;
}

#menu #next_container, #menu #prev_container {
  display: none;
}
#menu #next_container #next, #menu #next_container #prev, #menu #prev_container #next, #menu #prev_container #prev {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
#menu #next_container #next .svg_header, #menu #next_container #prev .svg_header, #menu #prev_container #next .svg_header, #menu #prev_container #prev .svg_header {
  height: 1.875em;
  width: 1.875em;
}
#menu #sidebar {
  position: absolute;
  top: 0;
  left: -100%;
  list-style: none;
  background-color: white;
  height: 100vh;
  width: 25vw;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25em;
  padding-top: 4%;
  transition: 0.9s ease-in-out;
  box-shadow: 0px 2px 1px black;
}
#menu #sidebar #list_sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25em;
}
#menu #sidebar #list_sidebar .item_side {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25em;
}
#list_sidebar .svg_header {
  width: 25px;
  height: 25px;
}

@media screen and (max-width: 768px) {
  #menu #next_container, #menu #prev_container {
    display: block;
  }
  #menu #list_menu {
    display: none;
  }
}

main {
  display: flex;
  gap: 1.25em;
  height: 900px;
}
main .seção {
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 1;
  margin: 0 5%;
  height: 100%;
}
main .seção .form {
  margin: 5%;
  display: flex;
  padding: 2.5em;
  min-width: 400px;
  max-width: 600px;
  border-radius: 1.25em;
  flex-direction: column;
  background-color: #fff;
}
main .seção .form .user {
  gap: 0.6em;
  display: flex;
  flex-direction: column;
}
main .seção .form .user #nome, main .seção .form .user #email {
  border: none;
  height: 2.5em;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0.3125em;
  background: rgb(219, 219, 219);
}
main .seção .form .sobre {
  display: flex;
  flex-direction: column;
}
main .seção .form .sobre #sobre {
  border: none;
  border-radius: 20px;
  background: rgb(219, 219, 219);
}
main .seção .form .sobre #other {
  margin: 4% 0%;
}
main .seção .form .termo {
  margin: 4% 2%;
  font-style: italic;
}
main .seção .form .termo #checked {
  accent-color: purple;
}
main .seção .form .termo a {
  color: blue;
  text-decoration: none;
}
main .seção .form .termo a:visited {
  color: green;
}
main .seção .form .titulo-2 {
  font-size: 2em;
  margin: 3%;
}
main .seção .form .submit {
  display: flex;
  justify-content: center;
  align-items: center;
}
main .seção .form .submit #button {
  display: flex;
  align-items: center;
  padding: 2em 6em;
  height: 3em;
  border: none;
  color: white;
  font-size: 1.25em;
  font-weight: 500;
  text-shadow: 1px 1px 1px black;
  border-radius: 1.25em;
  background: linear-gradient(150deg, rgb(245, 100, 240) 7%, rgb(214, 3, 200) 30%, rgb(195, 56, 223) 77%);
}
main .seção .form .submit #button:active {
  position: relative;
  top: 2px;
}
main .titulo-1 {
  font-size: 5em;
}
main textarea,
main input {
  padding: 3.5%;
  outline: none;
}
main label {
  padding: 0% 1%;
}
main input::-moz-placeholder {
  padding-left: 20px;
  color: rgb(88, 88, 88);
}
main input:-ms-input-placeholder {
  padding-left: 20px;
  color: rgb(88, 88, 88);
}
main input::placeholder {
  padding-left: 20px;
  color: rgb(88, 88, 88);
}
main .info {
  height: 100%;
  background-color: rgba(192, 249, 255, 0.728);
}
main .info .info-conteudo {
  top: 100px;
  height: 70%;
  display: flex;
  color: white;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
main .info .info-conteudo .texto {
  width: 60%;
  font-size: 2em;
}

#rodape {
  background-color: rgb(25, 23, 23);
  color: white;
  display: grid;
  padding: 3% 5%;
  justify-content: space-between;
  grid-template-areas: "logo cont1 cont2 cont3";
}
#rodape #social_media {
  display: flex;
  list-style: none;
  align-items: center;
}
#rodape #social_media .img {
  width: 40px;
  height: 40px;
}
#rodape #social_media .git {
  width: 50px;
  height: 50px;
}
#rodape .list_footer {
  display: flex;
  flex-direction: column;
  gap: 0.56em;
  list-style: none;
}
#rodape #container_logo {
  display: flex;
  align-items: center;
}
#rodape #container_logo #logo_footer {
  font-size: 2em;
}
#rodape a:link {
  color: rgb(0, 162, 255);
}
#rodape a:active {
  color: rgb(51, 239, 51);
}
#rodape a:visited {
  color: green;
}
#rodape a:hover {
  color: rgb(95, 95, 238);
}

#container_1 {
  grid-area: "logo";
  border-left: 1px solid gray;
  padding-left: 2em;
}

#container_2 {
  grid-area: "cont1";
  border-left: 1px solid gray;
  padding-left: 2em;
}

#container_3 {
  grid-area: "cont2";
  border-left: 1px solid gray;
  padding-left: 2em;
}

#container_4 {
  grid-area: "cont3";
  border-left: 1px solid gray;
  padding-left: 2em;
}

.invalid {
  display: none;
  color: red;
  padding-left: 1.25em;
  padding-top: 0.56em;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: box-sizing;
  font-family: "Arimo", Arial, Helvetica, sans-serif;
}

body {
  background-image: linear-gradient(80deg, #E08AEB, #D472B8, #AE72D4, #AB85F6);
}/*# sourceMappingURL=import.css.map */