@charset "UTF-8";
#menu {
  position: relative;
  gap: 1.875em;
  padding: 1.4598540146%;
  display: flex;
  justify-content: space-between;
  background-color: white;
  align-items: center;
}
#menu #list_menu {
  list-style: none;
  display: flex;
  color: grey;
  gap: 2.5em;
}
#menu #list_menu .item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#menu #list_menu .item:hover {
  transform: scale(1.2);
}
.item .svg_header {
  width: 1.5625em;
  height: 1.5625em;
}

#menu #next_container, #menu #prev_container {
  display: none;
}
#menu #next_container #next, #menu #next_container #prev, #menu #prev_container #next, #menu #prev_container #prev {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
#menu #next_container #next .svg_header, #menu #next_container #prev .svg_header, #menu #prev_container #next .svg_header, #menu #prev_container #prev .svg_header {
  height: 1.875em;
  width: 1.875em;
}
#menu #sidebar {
  position: absolute;
  top: 0;
  left: -100%;
  list-style: none;
  background-color: white;
  height: 100vh;
  width: 25vw;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25em;
  padding-top: 4%;
  transition: 0.9s ease-in-out;
  box-shadow: 0px 1px 10px black;
}
#menu #sidebar #list_sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25em;
}
#menu #sidebar #list_sidebar .item_side {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25em;
}
#list_sidebar .svg_header {
  width: 25px;
  height: 25px;
}

@media screen and (max-width: 768px) {
  #menu #next_container, #menu #prev_container {
    display: block;
  }
  #menu #list_menu {
    display: none;
  }
}

.seção {
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 2px 2px 3px black;
  z-index: 1;
}
.seção .form {
  margin: 5%;
  display: flex;
  padding: 2.5em;
  min-width: 400px;
  max-width: 600px;
  border-radius: 1.25em;
  flex-direction: column;
  background-color: #fff;
}
.seção .form .user {
  gap: 0.6em;
  display: flex;
  flex-direction: column;
}
.seção .form .user #nome, .seção .form .user #email {
  border: none;
  height: 2.5em;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0.3125em;
  background: rgb(219, 219, 219);
}
.seção .form .sobre {
  display: flex;
  flex-direction: column;
}
.seção .form .sobre #sobre {
  border: none;
  border-radius: 20px;
  background: rgb(219, 219, 219);
}
.seção .form .sobre #other {
  margin: 4% 0%;
}
.seção .form .termo {
  margin: 4% 0%;
  font-style: italic;
}
.seção .form .termo #checked {
  accent-color: purple;
}
.seção .form .termo a {
  color: blue;
  text-decoration: none;
}
.seção .form .termo a:visited {
  color: green;
}
.seção .form .titulo-2 {
  margin: 2%;
}
.seção .form .submit {
  text-align: center;
}
.seção .form .submit #button {
  width: 80%;
  height: 3em;
  border: none;
  color: white;
  font-size: 1.2em;
  border-radius: 1.25em;
  background-color: rgb(229, 99, 254);
}
.seção .info {
  height: 100vh;
  background-color: rgba(192, 249, 255, 0.728);
}
.seção .info .info-conteudo {
  top: 100px;
  height: 70%;
  display: flex;
  color: white;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.seção .info .info-conteudo .texto {
  width: 60%;
  font-size: 2em;
}
.seção .titulo-1 {
  font-size: 5em;
}

textarea,
input {
  padding: 3.5%;
}

label {
  padding: 0% 3.5%;
}

input::-moz-placeholder {
  padding-left: 20px;
  color: rgb(88, 88, 88);
}

input:-ms-input-placeholder {
  padding-left: 20px;
  color: rgb(88, 88, 88);
}

input::placeholder {
  padding-left: 20px;
  color: rgb(88, 88, 88);
}

#rodape {
  display: flex;
  background-color: rgb(30, 29, 29);
  color: white;
  padding: 2em;
}
#rodape #footer-logo {
  flex-grow: 1;
  margin: fit-content;
  font-size: 2.5em;
}

#rodape > ol {
  align-items: center;
  list-style: none;
  display: flex;
  gap: 20px;
}

.invalid {
  display: none;
  color: red;
  padding-left: 1.25em;
  padding-top: 0.56em;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: box-sizing;
}

body {
  background-image: linear-gradient(80deg, #E08AEB, #D472B8, #AE72D4, #AB85F6);
}/*# sourceMappingURL=import.css.map */